<div data-role="page">

	<%- include ("../partials/TopNavBar"); %>

	<div role="main" class="ui-content">
		<p>Page content goes here.</p>
	</div><!-- /content -->

	<%- include ("../partials/BottomNavBar"); %>
</div><!-- /page -->