<div data-role="page" id="otp" class="pt-top-none pt-top-ipp">
    <%- include ("../partials/headers/TopNavBarBackOnly",{uri:'/auth/get-started'}); %>
        <div data-role="content" class="ui-content content-main">
            <h1>OTP</h1>
            <p>We have sent a One Time Pin to your
                mobile phone you entered.</p>
            <%- include ("../partials/messages"); %>
            <form id="otp-form" action="/auth/otp" method="POST" data-ajax="false">
                <div class="input-group">
                    <div class="otp-fields-group">
                        <input type="text" id="otp_1" name="otp_1" placeholder="0"  maxlength="1" pattern="[0-9]+" onkeyup="moveCursor(this, 'otp_2')" required>
                        <input type="text" id="otp_2" name="otp_2" placeholder="0"  maxlength="1" pattern="[0-9]+" onkeyup="moveCursor(this, 'otp_3')" required>
                        <input type="text" onkeyup="moveCursor(this, 'otp_4')" id="otp_3" name="otp_3" placeholder="0"  maxlength="1" pattern="[0-9]+" required>
                        <input type="text" id="otp_4" name="otp_4" placeholder="0"  maxlength="1" pattern="[0-9]+" required>
                    </div>
                </div>
                <button class="ui-widget ui-corner-all" type="submit">Proceed<span
                        class="button-icon"><svg class="button-icon" fill="none" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m14 5 7 7m0 0-7 7m7-7H3" />
                        </svg></span></button>

            </form>
        </div><!-- /content -->
</div><!-- /page -->


<script>

function moveCursor(field, moveTo){
    if (field.value.length >= field.maxLength){
        document.getElementById(moveTo).focus();
    }
}

</script>