<div data-role="popup" id="partner-registration-confirm">
        <div data-role="content" class="ui-content nobar-content">
            <h3>Vendor Profile Submitted for Confirmation.</h3>

            <div class="confirmation-content">
                <div class="confirm-icon-container">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <p>We have recieved your profile. After manual verification of your profile we will get back to you. This process usually takes around 5 business days. We appreciate your patience.</p>

                <a href="/" data-ajax="false" class="ui-btn ui-widget ui-corner-all" type="button">Proceed<span class="button-icon"><svg
                    class="button-icon" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m14 5 7 7m0 0-7 7m7-7H3" />
                </svg></span></a>
            </div>
        </div><!-- /content -->
</div><!-- /page -->

<div data-role="popup" id="partner-registration-confirm-ipad">
    <div data-role="content" class="ui-content nobar-content">
        <h3>Vendor Profile Submitted for Confirmation.</h3>

        <div class="confirmation-content">
            <div class="confirm-icon-container">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
            </div>
            <p>We have recieved your profile. After manual verification of your profile we will get back to you. This process usually takes around 5 business days. We appreciate your patience.</p>

            <a href="/" data-ajax="false" class="ui-btn ui-widget ui-corner-all" type="button">Proceed<span class="button-icon"><svg
                class="button-icon" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m14 5 7 7m0 0-7 7m7-7H3" />
            </svg></span></a>
        </div>
    </div><!-- /content -->
</div><!-- /page -->