<div data-role="page" id="passwordResetConfirm">
    <%- include ("../partials/headers/TopNavBarBackOnly", {uri:'/auth/login'}); %>
        <div data-role="content" class="ui-content content-main">
            <h3>Password Reset Email Sent</h3>

            <div class="confirmation-content">
                <div class="confirm-icon-container">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <p>An email has been sent to your registered email. Kindly check the Spam folder if you do not see any
                    email from Mobile Meals.</p>
            </div>
        </div><!-- /content -->
</div><!-- /page -->

<div data-role="popup" id="passwordResetConfirmIpad">
    <%- include ("../partials/headers/TopNavBarBackOnly", {uri:'/auth/login'}); %>
        <div data-role="content" class="ui-content content-main">
            <h3>Password Reset Email Sent</h3>

            <div class="confirmation-content">
                <div class="confirm-icon-container">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <p>An email has been sent to your registered email. Kindly check the Spam folder if you do not see any
                    email from Mobile Meals.</p>
            </div>
        </div><!-- /content -->
</div><!-- /page -->