<div data-role="page" id="vendor-consent">
    <div data-role="content" class="ui-content nobar-content">
        <h3>Want to be a Mobile Meals Partner? </h3>
        <p>Mobile Meals allows you to Sell Food items under your own restaurant name. <a href="#">Learn More</a></p>

        <a href="/auth/partner-registration" data-ajax="false" class="ui-btn ui-widget ui-corner-all">Setup Profile Now<span class="button-icon"><svg
                    class="button-icon" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 5 7 7m0 0-7 7m7-7H3" />
                </svg></span></a>

        <a href="/" data-ajax="false" id="btn-secondary-color" class="ui-btn ui-widget ui-corner-all">Setup Later<span class="button-icon"><svg class="button-icon"
                    fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 5 7 7m0 0-7 7m7-7H3" />
                </svg></span></a>
    </div><!-- /content -->
</div><!-- /page -->
