<div class="card restautant-widget-single dish-card">
    <div class="card-img-top image-and-banner">
        <img src="https://images.pexels.com/photos/4862267/pexels-photo-4862267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="" alt="...">
        <div class="banner">Rs. 1150.00</div>
    </div>
    <div class="card-body widget-info">
        <div class="widget-text">
            <h5>Olive Pizza</h5>
            <h6>The American Touch</h6>
        </div>
        <svg class="favourite-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6a5 5 0 0 0 0 7l8 7 8-7a5 5 0 0 0-7-7l-1 2-1-2a5 5 0 0 0-7 0z" />
        </svg>
    </div>
</div>