<div class="card restautant-widget-single dish-card">
    <div class="card-img-top image-and-banner">
        <img src="<%= dishWidgetData.imageUrl %>"
            class="" alt="...">
        <div class="banner">LKR <%= parseFloat(dishWidgetData.price).toFixed(2) %></div>
    </div>
    <div class="card-body widget-info">
        <div class="widget-text">
            <h5><%= dishWidgetData.name %></h5>
            <h6><%= dishWidgetData.restaurantName %></h6>
        </div>
    </div>
</div>