<div data-role="header" data-position="fixed">
    <div>
        <a href="get-started" ><svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 12h18m-11 7-7-7 7 7Zm-7-7 7-7-7 7Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
    </div>
</div><!-- /header -->