<div data-role="header" data-position="fixed" class="top-nav-main">
    <a href="<%= (typeof uri !== 'undefined') ? uri : '#' %>" <%- (typeof uri === 'undefined' ? 'data-rel="back"': '')  %> data-ajax="false">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 19-7-7m0 0 7-7m-7 7h18"/></svg>
    </a>

    <% if(typeof title !== 'undefined'){ %>
        <h4 class="top-nav-bar-title"><%= title %></h4>
    <% } %>

    <div></div>    
</div><!-- /header -->
