<div data-role="header" class="top-nav-main">
    <a href="/menu" data-ajax="false">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </a>

    <% if(typeof title !== 'undefined'){ %>
        <h4><%= title %></h4>
    <% } %>

    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2v2m2 8h10l4-8H5m2 8L5 5m2 8-2 2v2h12m0 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/></svg>    
</div><!-- /header -->