<div data-role="page">
    <%- include ("./partials/TopNavBar-1"); %>
    <div data-role="content" class="content-main scrollable">
        <h2 class="text-secondary uppercase underline leading-2" style="margin-bottom: 10px; margin-top: 10px;">
            Typography:</h2>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h4 class="leading-2 uppercase text-semibold">Page Header</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</p>

        <h2 class="text-secondary uppercase underline leading-2" style="margin-bottom: 10px; margin-top: 10px;">
            Buttons:</h2>

        <button class="ui-button ui-widget ui-corner-all" type="submit">Proceed<span><svg fill="none"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m14 5 7 7m0 0-7 7m7-7H3" />
                </svg></span></button>

        <h2 class="text-secondary uppercase underline leading-2" style="margin-bottom: 10px; margin-top: 10px;">
            Input Elements:</h2>

        <form action="#">
            <label>
                <input type="checkbox" name="checkbox" />
                Checkbox
            </label>
            <label for="textinput-1">Text Input Box</label>
            <input type="text" name="textinput-1" id="textinput-1" placeholder="Placeholder" value="">

            <label for="numberinput-1">Number Input Box</label>
            <input type="number" name="textinput-1" id="numberinput-1" placeholder="123456" value="">
        </form>

        <h2 class="text-secondary uppercase underline leading-2" style="margin-bottom: 10px; margin-top: 10px;">
            UI Elements:</h2>

        <p>Restaurant Widget:</p>

        <div class="restautant-widget-single">
            <img src="https://cdn.pixabay.com/photo/2019/07/29/05/52/burger-4369973_960_720.jpg"
                alt="The American Touch">
            <div>
                <div>
                    <h5>The American Touch</h5>
                    <div>
                        <p>I</p>
                        <p>4.5</p>
                    </div>
                </div>
                <div>H</div>
            </div>
        </div>



    </div><!-- /content -->

    <div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->