@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #1A2340;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: none !important;
}

.ui-page .ui-header {
  background: #fff;
}

.ui-bar-a {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ui-header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none !important;
}

.content-main {
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.nobar-content {
  margin-top: 60px;
  margin-left: 24px;
  margin-right: 24px;
}

.ui-loader {
  display: none;
}

.pt-top-none {
  padding-top: 0 !important;
}

/* Typography
-----------------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  /* Example To use media queries */
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

.text-primary {
  color: #1A2340;
}

.text-secondary {
  color: #45AC34;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: 600;
}

.text-semibold {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

.leading-2 {
  letter-spacing: 2px;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alert .ui-btn {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-shadow: none;
}

/* Navbars
-----------------------------------------------------------------------------------------------------------*/
.ui-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  overflow: hidden;
}

.ui-header a svg {
  width: 24px;
  height: 24px;
}

.top-nav-main {
  position: fixed;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  padding: 0px 24px;
  top: 0;
}

.top-nav-main .ui-btn {
  position: relative;
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 36px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  text-shadow: none;
}

.top-nav-main .ui-btn svg {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.top-nav-main .ui-btn:focus, .top-nav-main .ui-btn:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.top-nav-main .ui-btn:focus svg, .top-nav-main .ui-btn:hover svg {
  stroke: #45AC34;
}

.top-nav-main svg {
  width: 36px;
  height: 36px;
  stroke: #1A2340;
}

.top-nav-main h4 {
  color: #1A2340;
}

.top-nav-restaurant {
  position: fixed;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  padding: 0px 24px;
}

.top-nav-restaurant .ui-btn {
  position: relative;
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 36px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  text-shadow: none;
}

.top-nav-restaurant .ui-btn svg {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.top-nav-restaurant .ui-btn:focus, .top-nav-restaurant .ui-btn:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.top-nav-restaurant .ui-btn:focus svg, .top-nav-restaurant .ui-btn:hover svg {
  stroke: #45AC34;
}

.top-nav-restaurant svg {
  width: 36px;
  height: 36px;
  stroke: #1A2340;
}

.top-nav-restaurant h4 {
  color: #1A2340;
}

.footer-icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  z-index: 1000;
}

.footer-icon-bar .ui-btn {
  position: relative;
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 36px;
  text-shadow: none;
}

.footer-icon-bar .ui-btn svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-icon-bar .ui-btn:focus, .footer-icon-bar .ui-btn:hover {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.footer-icon-bar .ui-btn:focus svg, .footer-icon-bar .ui-btn:hover svg {
  stroke: #45AC34;
}

.footer-icon-bar svg {
  width: 36px;
  height: 36px;
  stroke: #1A2340;
}

.footer-dish {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  z-index: 1000;
}

.footer-dish button {
  height: 45px;
}

.footer-dish button svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.footer-dish .qty-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-dish .qty-selector input[type=text] {
  width: 51px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.footer-dish .qty-selector .qty-btn {
  width: 32px;
  height: 32px;
  stroke: #1A2340;
  margin: 0px 19px;
}

/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: none !important;
}

.ui-btn span {
  width: 24px;
  height: 24px;
  stroke: #fff;
  margin-left: 13px;
}

.ui-content .ui-link {
  display: inline;
  color: #45AC34;
  text-decoration: underline;
  font-weight: 400;
}

.ui-content .ui-btn {
  margin: 9px 0px;
  text-shadow: none;
}

.ui-content .ui-btn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ui-content #btn-secondary-color {
  background-color: #45AC34;
}

.ui-content #btn-secondary-color:focus {
  background-color: #1A2340;
}

#file-upload-btn {
  width: 158px;
  height: 158px;
  border-radius: 100%;
  background-color: #F4F4F4;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#file-upload-btn svg {
  width: 85px;
  height: 85px;
  stroke: #45AC34;
}

.offers-button {
  height: 37px;
  font-size: 12px;
  font-weight: 600;
}

.switch-profile-button {
  height: 63px;
  font-size: 16px;
  font-weight: 600;
  background-color: #45AC34 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.switch-profile-button:focus, .switch-profile-button:hover {
  background-color: #1A2340 !important;
}

.links-group {
  margin: 22px 0;
}

.links-group .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E3E3E3;
  padding: 11px 0 12px;
  text-decoration: none !important;
}

.links-group .menu-link svg {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  stroke: #1A2340;
}

.logout-button {
  height: 43px;
  font-size: 16px;
  font-weight: 600;
  background-color: #FF294F !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.logout-button:focus, .logout-button:hover {
  background-color: #1A2340 !important;
}

.logout-button svg {
  width: 24px;
  height: 24px;
  margin-left: 9px;
  stroke: #fff;
}

/* Forms
-----------------------------------------------------------------------------------------------------------*/
input {
  font-size: 20px;
  color: #1A2340;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 44px;
  border: 2px;
  border-radius: 5px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #E3E3E3;
}

input::-moz-placeholder {
  color: #E3E3E3;
}

input:-ms-input-placeholder {
  color: #E3E3E3;
}

input:-moz-placeholder {
  color: #E3E3E3;
}

form .input-group .ui-input-text {
  border-radius: 5px;
  border: 2px solid #DBDBDB;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  margin-bottom: 16px;
}

form .input-group .ui-focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #45AC34;
  border-radius: 5px;
}

form .input-group .ui-link {
  color: #45AC34;
  text-decoration: underline;
  font-weight: 400;
}

form .input-group #dp-block {
  display: contents;
  margin-bottom: 5px;
}

form .input-group label {
  font-size: 16px;
  color: #1A2340;
  line-height: 1.5em;
  margin-left: 10px;
}

form .input-group .ui-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

form .input-group .ui-checkbox .ui-btn {
  display: inline;
  font-size: 16px;
  background-color: transparent;
  text-align: left;
  color: #1A2340;
  text-transform: none;
  letter-spacing: 0;
  padding: 0px;
  border: none;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 25px;
  text-shadow: none;
}

form .input-group .ui-checkbox input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 2px solid red;
}

form .input-group .ui-select {
  width: 100%;
}

form .input-group .ui-select .form-select {
  width: 100%;
  height: 42px;
}

form .input-group .ui-select span {
  display: none;
}

form .input-group .ui-select .ui-btn {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
  text-shadow: none;
}

form .input-group .ui-select .ui-focus {
  width: 100%;
}

form button {
  margin-top: 20px;
}

@media (min-width: 1025px) {
  #home h3 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 2%;
  }
  #home .ui-content .x-scroll-container .home-tabs {
    margin-right: 3%;
  }
  #home .ui-content .x-scroll-container #restautant-widget-single {
    background-color: #1A2340;
  }
  #home .home-category-title-container .text-bold {
    font-size: 24px;
    font-weight: 700;
  }
}

#top-nav-main {
  width: 100%;
}

@media (min-width: 1025px) {
  #password-reset-confirm {
    width: 35%;
    margin-left: 30%;
    margin-top: 15%;
  }
  #password-reset-confirm h3 {
    font-size: 26px;
  }
}

@media (min-width: 1025px) {
  #password-reset {
    width: 35%;
    margin-left: 30%;
    margin-top: 15%;
  }
  #password-reset h3 {
    font-size: 26px;
  }
}

@media (min-width: 1025px) {
  #vendor-consent {
    width: 30%;
    margin-left: 30%;
    margin-top: 15%;
  }
  #vendor-consent h3 {
    font-size: 26px;
    margin-bottom: 10%;
  }
  #vendor-consent button {
    margin-bottom: 3%;
  }
  #vendor-consent p {
    margin-bottom: 10%;
  }
}

@media (min-width: 1025px) {
  #menu {
    width: 50%;
  }
  #menu .rewards-container {
    width: 100%;
    height: 150%;
  }
  #menu .rewards-container .current-tier {
    width: 20%;
    height: 15%;
  }
  #menu .rewards-container .rewards-data {
    width: 70%;
    height: 70%;
  }
  #menu .rewards-container .rewards-data h5 {
    font-size: 24px;
    margin-left: 16%;
  }
  #menu .rewards-container .rewards-data .progress-bar-wrapper img {
    width: 10%;
    height: 10%;
  }
  #menu .rewards-container .rewards-data .progress-bar-wrapper .progress {
    width: 70%;
    height: 10px;
  }
  #menu .rewards-container .rewards-data span {
    font-size: 16px;
  }
  #menu .links-group span {
    font-size: 24px;
  }
  #menu .links-group svg {
    width: 8%;
    height: 8%;
  }
  #menu h4 {
    font-size: 36px;
    font-weight: 600;
  }
  #menu .top-nav-bar-title {
    margin-left: 75%;
  }
}

#menu .logout-button {
  height: 20%;
}

@media (min-width: 1025px) {
  #get-started {
    margin-top: 20%;
    margin-left: 50%;
    margin-right: 12%;
  }
  #get-started h1 {
    font-size: 60px;
    font-weight: 700;
  }
  #get-started p {
    font-size: 32px;
    font-weight: 500;
  }
}

#get-started-form {
  margin-top: 40px;
}

#get-started-form .form-inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#get-started-form input[type='text'] {
  max-width: 244px;
  height: 42px;
}

#get-started-form .input-wrapper {
  padding-left: 5px;
}

@media (min-width: 1025px) {
  #get-started-form .input-wrapper {
    margin-bottom: 1%;
    margin-top: -2%;
    width: 358px;
  }
}

#get-started-form .select-country-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 84px;
  height: 44px;
  position: relative;
}

#get-started-form .select-country-wrapper .ui-btn {
  opacity: 0;
  text-shadow: none;
}

#get-started-form .select-country-wrapper__select {
  width: 60px;
  opacity: 0;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: url(../img/flag_sl.svg) no-repeat right;
  display: inline-block;
  position: absolute;
}

#get-started-form .select-country-wrapper__flags {
  width: 3.75rem;
  height: 2.75rem;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#get-started-form .select-country-wrapper__flags__flag {
  height: 100%;
  border: 0px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

#get-started-form .select-country-wrapper__flags__flag.is-visible {
  display: block;
}

@media (min-width: 1025px) {
  #otp .ui-content {
    margin-left: 50%;
    margin-top: 13%;
  }
  #otp .ui-content h1 {
    font-size: 60px;
    font-weight: 700;
  }
  #otp .ui-content p {
    font-size: 32px;
    font-weight: 500;
    margin-right: 20%;
  }
}

#otp-form .input-group .otp-fields-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 34px 0px;
}

@media (min-width: 1025px) {
  #otp-form .input-group .otp-fields-group {
    margin-right: 10%;
    margin: 14px -65px;
    text-align: center;
  }
}

#otp-form .input-group .otp-fields-group .ui-input-text {
  width: 43px;
  height: 43px;
  margin: 0px 13px;
}

@media (min-width: 1025px) {
  #otp-form .input-group .otp-fields-group .ui-input-text {
    width: 65px;
    height: 70px;
    margin: 15px 15px;
    font-size: 40px;
  }
}

#otp-form .input-group .otp-fields-group input[type="text"] {
  width: 43px;
  height: 43px;
  text-align: center;
  font-size: 20;
  border-radius: 5px;
}

@media (min-width: 1025px) {
  #otp-form .input-group .otp-fields-group input[type="text"] {
    font-size: 25px;
  }
}

@media (min-width: 1025px) {
  #otp-form .ui-btn {
    width: 77%;
    height: 70px;
    margin-right: 50%;
    font-size: 24px;
    font-weight: 600;
  }
}

@media (min-width: 1025px) {
  #login .ui-content {
    margin-left: 50%;
    margin-top: 13%;
  }
  #login .ui-content p {
    font-weight: 500;
    font-size: 32px;
  }
  #login .ui-content h3 {
    font-weight: 500;
    font-size: 32px;
  }
  #login .ui-content h2 {
    font-weight: 700;
    font-size: 60px;
  }
  #login .ui-content label {
    font-size: 24px;
  }
  #login .ui-content .input-group {
    width: 90%;
  }
  #login .ui-content .ui-btn {
    width: 90%;
    margin-top: 5%;
  }
  #login .ui-content .ui-link {
    font-size: 24px;
  }
}

#login-form .input-group .forgot-pw-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  #register .ui-content {
    margin-left: 35%;
    margin-top: -5%;
  }
  #register .ui-content h1 {
    font-size: 60px;
    font-weight: 700;
  }
  #register .ui-content p {
    font-size: 32px;
    font-weight: 500;
  }
  #register .ui-content label {
    font-size: 24px;
    font-weight: 400;
  }
  #register .ui-content .input-email {
    width: 90%;
  }
  #register .ui-content .accept-terms {
    width: 600px;
  }
  #register .ui-content .input-names {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 3%;
    width: 90%;
  }
  #register .ui-content .input-names .input-firstname {
    margin-right: 20%;
    width: 95%;
  }
  #register .ui-content .input-names .input-lastname {
    width: 95%;
  }
  #register .ui-content .input-passwordfield {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 3%;
    width: 90%;
  }
  #register .ui-content .input-passwordfield .input-password {
    margin-right: 20%;
    width: 95%;
  }
  #register .ui-content .input-passwordfield .input-confirmpassword {
    width: 95%;
  }
  #register .ui-content a {
    font-size: 24px;
    font-weight: 500;
  }
  #register .ui-content button {
    margin-top: 5%;
    width: 90%;
  }
  #register .ui-content .res-name-num {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 3%;
    width: 98%;
  }
  #register .ui-content .res-name-num .res-name {
    width: 48%;
    margin-right: 2%;
  }
  #register .ui-content .res-name-num .res-num {
    width: 48%;
  }
  #register .ui-content .info-link {
    margin-left: 60%;
  }
  #register .ui-content .res-address {
    width: 95%;
  }
  #register .ui-content .zip-confirm {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 3%;
    width: 98%;
  }
  #register .ui-content .zip-confirm .zipCode {
    width: 58%;
  }
  #register .ui-content .zip-confirm .identityConfirm {
    width: 58%;
  }
  #register .ui-content .zip-confirm .identityConfirm select {
    width: 91%;
  }
}

@media (min-width: 1025px) {
  #partner-register .ui-content {
    margin-left: 35%;
  }
  #partner-register .ui-content h1 {
    font-size: 60px;
    font-weight: 700;
  }
  #partner-register .ui-content p {
    font-size: 32px;
    font-weight: 500;
  }
  #partner-register .ui-content label {
    font-size: 24px;
    font-weight: 400;
  }
  #partner-register .ui-content .input-email {
    width: 90%;
  }
  #partner-register .ui-content .accept-terms {
    width: 600px;
  }
  #partner-register .ui-content .input-names {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 3%;
    width: 90%;
  }
  #partner-register .ui-content .input-names .input-firstname {
    margin-right: 20%;
    width: 95%;
  }
  #partner-register .ui-content .input-names .input-lastname {
    width: 95%;
  }
  #partner-register .ui-content .input-passwordfield {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 3%;
    width: 90%;
  }
  #partner-register .ui-content .input-passwordfield .input-password {
    margin-right: 20%;
    width: 95%;
  }
  #partner-register .ui-content .input-passwordfield .input-confirmpassword {
    width: 95%;
  }
  #partner-register .ui-content a {
    font-size: 24px;
    font-weight: 500;
  }
  #partner-register .ui-content button {
    margin-top: 5%;
    width: 90%;
  }
  #partner-register .ui-content .res-name-num {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 3%;
    width: 98%;
  }
  #partner-register .ui-content .res-name-num .res-name {
    width: 48%;
    margin-right: 2%;
  }
  #partner-register .ui-content .res-name-num .res-num {
    width: 48%;
  }
  #partner-register .ui-content .info-link {
    margin-left: 60%;
  }
  #partner-register .ui-content .res-address {
    width: 95%;
  }
  #partner-register .ui-content .zip-confirm {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 3%;
    width: 98%;
  }
  #partner-register .ui-content .zip-confirm .zipCode {
    width: 58%;
  }
  #partner-register .ui-content .zip-confirm .identityConfirm {
    width: 58%;
  }
  #partner-register .ui-content .zip-confirm .identityConfirm select {
    width: 91%;
  }
}

#identity-doc-upload-form .ui-input-text {
  opacity: 0;
}

#identity-doc-upload-form .file-upload-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* UI Components
-----------------------------------------------------------------------------------------------------------*/
.hidden {
  display: none;
}

.x-scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.x-scroll-container a {
  display: inline-block;
}

.restautant-widget-single {
  display: inline-block;
  width: 275px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  max-height: 178px;
  margin: 10px;
}

.restautant-widget-single .image-and-banner {
  height: 127px;
  position: relative;
}

.restautant-widget-single .image-and-banner img {
  width: 100%;
  height: 127px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.restautant-widget-single .image-and-banner .banner {
  position: absolute;
  top: 13px;
  right: 0;
  background-color: #45AC34;
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 6px 4px 6px 9px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-shadow: none !important;
}

.restautant-widget-single .widget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  max-height: 51px;
  background-color: white;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.restautant-widget-single .widget-info h5 {
  max-width: 227px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
}

.restautant-widget-single .widget-info .favourite-icon {
  stroke: #1A2340;
  width: 32px;
  height: 32px;
}

.restautant-widget-single .widget-info .favourite-icon-selected {
  width: 32px;
  height: 32px;
  fill: #FF294F;
  stroke: #FF294F;
}

.restautant-widget-single .widget-info .widget-info-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
}

.restautant-widget-single .widget-info .widget-info-rating svg {
  width: 20px;
  height: 20px;
  fill: #1A2340;
  stroke: #1A2340;
  margin-right: 5px;
}

.dish-card {
  max-width: 200px;
}

.dish-card .widget-info h6 {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  margin-top: -10px;
  -webkit-box-orient: vertical;
  font-weight: 600;
  line-height: 1em;
}

/* Restaurant Item Card */
.restaurant-item-card {
  max-width: 342px;
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 5px;
  margin: 12px 6px;
}

.restaurant-item-card .item-card-img {
  width: 75px;
  height: auto;
  padding: 0;
}

.restaurant-item-card .item-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.restaurant-item-card .item-card-info {
  width: 267px;
  padding: 3px 10px;
}

.restaurant-item-card .item-card-info .item-title {
  max-width: 258px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 12px;
}

.restaurant-item-card .item-card-info .item-desc {
  max-width: 258px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  margin-left: 6px;
}

.restaurant-item-card .item-card-info .item-card-price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px 0px 0px 6px;
}

.restaurant-item-card .item-card-info .item-card-price-order .price-order {
  background-color: white;
  padding: 4px 11px;
  border-radius: 5px;
  font-size: 12px;
}

.confirm-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 158px;
  height: 158px;
  background-color: #45AC34;
  border-radius: 100px;
}

.confirm-icon-container svg {
  width: 134px;
  height: 134px;
  stroke: white;
}

.confirmation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 82px;
}

.confirmation-content p {
  margin-top: 48px;
  text-align: center;
}

.tag-item {
  display: inline-block;
  background-color: #E3E3E3;
  padding: 9px 10px;
  border-radius: 5px;
}

.home-category-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  margin-bottom: 15px;
}

.home-category-title-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.home-category-title-container a span {
  color: #c4c4c4;
  text-decoration: none;
}

.home-category-title-container a svg {
  width: 16px;
  height: 16px;
  stroke: #c4c4c4;
  margin-left: 5px;
}

.restaurant-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.restaurant-header img {
  width: 342px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.restaurant-header .header-2cols {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
  margin-bottom: 3px;
}

.restaurant-header .tag {
  padding: 5px 9px;
  background-color: #45AC34;
  color: #fff;
  border-radius: 5px;
}

.restaurant-header .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-header .icon-text svg {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.dish-group {
  margin: 14px 0px;
}

.dish-group h5 {
  margin-bottom: 9px;
}

.dish-group .ui-link {
  color: transparent;
}

.dish-group .ui-link:focus, .dish-group .ui-link:hover {
  color: transparent;
}

.dish-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}

.dish-header img {
  width: 342px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.dish-header .price-tag {
  font-size: 24px;
  background-color: #45AC34;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 5px;
}

.dish-extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 22px;
}

.dish-extras .extra-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dish-extras .extra-item .item-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dish-extras .extra-item .item-check .ui-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.dish-extras .extra-item .item-check .ui-checkbox .ui-btn {
  display: inline;
  font-size: 16px;
  background-color: transparent;
  text-align: left;
  color: #1A2340;
  text-transform: none;
  letter-spacing: 0;
  padding: 0px;
  border: none;
  font-weight: 400;
  margin-left: 10px;
  text-shadow: none;
}

.dish-extras .extra-item .item-check .ui-checkbox input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 2px solid red;
}

.rewards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 342px;
  margin: 0 auto;
  background-color: #E3E3E3;
  border-radius: 5px;
  padding: 18px 18px 9px;
}

.rewards-container img {
  width: 76px;
  height: 76px;
  margin-right: 26px;
}

.rewards-container .rewards-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rewards-container .rewards-data .progress-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rewards-container .rewards-data .progress-bar-wrapper img {
  width: 24px;
  height: 24px;
  margin: 0;
}

.rewards-container .rewards-data .progress-bar-wrapper .progress {
  width: 147px;
  height: 7px;
  border-radius: 100px;
  margin: 0px 9px;
}

.rewards-container .rewards-data .progress-bar-wrapper .progress .progress-bar {
  background-color: #45AC34;
}

.rewards-container .rewards-data .points {
  font-size: 12px;
  margin: 0 auto;
  margin-top: -5px;
}

.cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-wrapper .cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-wrapper .cart-header .cart-menu-btn {
  width: 121px;
  height: 45px;
  margin-top: 0px;
}

.cart-wrapper .cart-header .cart-menu-btn svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.cart-wrapper .cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 21px 0px 16px;
  text-shadow: none;
}

.cart-wrapper .cart-items .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F4F4F4;
  margin: 9px 0px;
  padding: 7px 6px;
  border-radius: 5px;
}

.cart-wrapper .cart-items .cart-item .title-desc {
  width: 200px;
}

.cart-wrapper .cart-items .cart-item .title-desc .desc {
  margin-left: 6px;
  font-size: 12px;
}

.cart-wrapper .cart-items .cart-item .title-desc .extras {
  background-color: #45AC34;
  padding: 7px 6px;
  border-radius: 5px;
  margin: 13px 0px 7px 6px;
}

.cart-wrapper .cart-items .cart-item .title-desc .extras .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.cart-wrapper .cart-items .cart-item .title-desc .extras .extra span {
  color: #fff;
  text-shadow: none !important;
  font-size: 12px;
}

.cart-wrapper .cart-items .cart-item .qty-price {
  text-align: center;
  padding: 9px 5px;
  background-color: #fff;
  border-radius: 5px;
}

.recent-search .tag-item {
  margin: 5px 5px;
}

.search-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  row-gap: 21px;
  -webkit-column-gap: 21px;
          column-gap: 21px;
}

.search-categories .search-category {
  max-width: 100px;
  height: 110px;
  position: relative;
}

.search-categories .search-category img {
  width: 100%;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-categories .search-category .widget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  text-align: center;
  position: absolute;
  height: 37px;
  background-color: #fff;
  bottom: 0;
  width: 100px;
  font-size: 12px;
  z-index: 5;
}

.cart-add-more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  color: #E3E3E3 !important;
  text-decoration: none !important;
}

.cart-add-more-btn svg {
  width: 32px;
  height: 32px;
  stroke: #E3E3E3;
}

.address-holder {
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 12px 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cart-address {
  margin-top: 10px;
}

.cart-promo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-promo-box .promo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-promo-box .promo-content .promo-percentage {
  width: 15px;
  height: 17px;
  margin-right: 13px;
  fill: #45AC34;
}

.cart-promo-box .promo-content .promo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-promo-box .promo-content .promo-text .title {
  font-size: 12px;
  color: #1A2340;
  text-transform: uppercase;
}

.cart-promo-box .promo-content .promo-text .desc {
  font-size: 12px;
  color: #45AC34;
}

.cart-promo-box .promo-arrow {
  width: 24px;
  height: 24px;
}

.cart-calculations {
  margin: 20px auto;
  width: 100%;
}

.cart-calculations .calculate-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.cart-calculations .calculate-item .item-title {
  text-transform: uppercase;
}

.cart-calculations .calculate-item .item-value {
  font-weight: 600;
}

.cart-calculations .calculate-item .item-value span {
  font-weight: 400;
}

.cart-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-card-box .promo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-card-box .promo-content .promo-percentage {
  width: 15px;
  height: 17px;
  margin-right: 13px;
  fill: #45AC34;
}

.cart-card-box .promo-content .promo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-card-box .promo-content .promo-text .title {
  font-size: 12px;
  color: #1A2340;
  text-transform: uppercase;
}

.cart-card-box .promo-content .promo-text .desc {
  font-size: 12px;
  color: #45AC34;
}

.cart-card-box .promo-arrow {
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */