@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #1A2340;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-page .ui-header {
  background: #fff;
}

.ui-bar-a {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ui-header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: none !important;
}

.content-main {
  margin-left: 24px;
  margin-right: 24px;
}

/* Typography
-----------------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5rem;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

.text-primary {
  color: #1A2340;
}

.text-secondary {
  color: #45AC34;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-size: 600;
}

.leading-2 {
  letter-spacing: 2px;
}

/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.ui-btn span {
  width: 24px;
  height: 24px;
  stroke: #fff;
  margin-left: 13px;
}

/* Forms
-----------------------------------------------------------------------------------------------------------*/
form label {
  font-size: 16px;
  color: #1A2340;
  line-height: 1.5em;
}

form input[type="text"], form [type="number"] {
  font-size: 1.25rem;
  color: #1A2340;
  padding-top: 0.438rem;
  padding-bottom: 0.438rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.75rem;
  border: 2px;
  border-radius: 0.313rem;
  outline: none;
  color: #1A2340;
}

/* UI Components
-----------------------------------------------------------------------------------------------------------*/
.hidden {
  display: none;
}

.restautant-widget-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  max-height: 178px;
  margin: 10px;
}

.restautant-widget-single .image-and-banner {
  height: 127px;
  position: relative;
}

.restautant-widget-single .image-and-banner img {
  width: 100%;
  height: 127px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.restautant-widget-single .image-and-banner .banner {
  position: absolute;
  top: 13px;
  right: 0;
  background-color: #45AC34;
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 6px 4px 6px 9px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.restautant-widget-single .widget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  max-height: 51px;
  background-color: white;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.restautant-widget-single .widget-info h5 {
  max-width: 227px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
}

.restautant-widget-single .widget-info .favourite-icon {
  stroke: #1A2340;
  width: 32px;
  height: 32px;
}

.restautant-widget-single .widget-info .favourite-icon-selected {
  width: 32px;
  height: 32px;
  fill: #FF294F;
  stroke: #FF294F;
}

.restautant-widget-single .widget-info .widget-info-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
}

.restautant-widget-single .widget-info .widget-info-rating svg {
  width: 20px;
  height: 20px;
  fill: #1A2340;
  stroke: #1A2340;
  margin-right: 5px;
}

.dish-card {
  max-width: 200px;
}

.dish-card .widget-info h6 {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  margin-top: -10px;
  -webkit-box-orient: vertical;
  font-weight: 600;
  line-height: 1em;
}

/* Restaurant Item Card */
.restaurant-item-card {
  max-width: 342px;
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 0px 6px;
}

.restaurant-item-card .item-card-img {
  width: 75px;
}

.restaurant-item-card .item-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.restaurant-item-card .item-card-info {
  width: 267px;
  padding: 3px 10px;
}

.restaurant-item-card .item-card-info .item-title {
  max-width: 258px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 12px;
}

.restaurant-item-card .item-card-info .item-desc {
  max-width: 258px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  margin-left: 6px;
}

.restaurant-item-card .item-card-info .item-card-price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px 0px 0px 6px;
}

.restaurant-item-card .item-card-info .item-card-price-order .price-order {
  background-color: white;
  padding: 4px 11px;
  border-radius: 5px;
  font-size: 12px;
}

.tag-item {
  background-color: #F4F4F4;
  padding: 10px 8px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
}
/*# sourceMappingURL=main.css.map */