<div data-role="dialog" data-url="done-review" id="done-reviews">
    <div data-role="content">
        <h3 style="text-align: center;">Thank you</h3>

        <div class="confirmation-content">
            <div class="confirm-icon-container">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
            </div>
            <p>Thank you for taking your time to review. </p>
        </div>

        <a href="/" data-ajax="false" class="ui-btn ui-widget ui-corner-all" type="submit">Proceed<span
            class="button-icon"><svg class="button-icon" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m14 5 7 7m0 0-7 7m7-7H3" />
            </svg></span></a>
    </div>
</div>